<h1>Editing authorship</h1>

<%= render "form", authorship: @authorship %>

<br>

<div>
  <%= link_to "Show this authorship", @authorship %> |
  <%= link_to "Back to authorships", authorships_path %>
</div>
